<nav>
    <div class="search"><input type="text" placeholder="NAVIGATE" /> </div>
    <ul class="menu">
        <li class="menu-item active"><img src="images/analitycs.png" srcset="images/analitycs@2x.png 2x,
             images/analitycs@3x.png 3x" class="analitycs"><span>Analytics</span> </li>
        <li class="menu-item"><img src="images/newspaper-o.png" srcset="images/newspaper-o@2x.png 2x,
             images/newspaper-o@3x.png 3x" class="newspaper-o"><span>News</span> </li>
        <li class="menu-item"><img src="images/board-brief.png" srcset="images/board-brief@2x.png 2x,
             images/board-brief@3x.png 3x" class="board-brief"><span>Board Brief</span></li>
        <li class="menu-item"><img src="images/briefcase.png" srcset="images/briefcase@2x.png 2x,
             images/briefcase@3x.png 3x" class="briefcase"><span>Brief Case</span></li>
    </ul>
    <div class="collapse-item">
        <img src="images/angle-double-left.png" srcset="images/angle-double-left@2x.png 2x,
             images/angle-double-left@3x.png 3x"><span>Close Menu</span>
    </div>
</nav>
